body {
 text-align: center;
 border: 1px solid white;
 background-image: url(Noah.jpg); 
 background-repeat: no-repeat;
 background-attachment: fixed;  
 background-size: cover;
 font-family: "Comic Sans MS";
 font-size:21px;
}


.img-wrapper {    
    max-width: 1200px;
    margin-bottom: 30px;
    transition: all 400ms ease-in-out;
}

.img-wrapper img { 
    width: 100%;
}

.img-wrapper:hover { 
    transform: scale(1.3);  
}
