body {
 text-align: center;
 border: 1px solid white;
 background-colour: #CAA3F7;
 background-repeat: no-repeat;
 background-attachment: fixed;  
 background-size: cover;
 font-family: Helvetica;
}

.img-beach {
 width: 800px;
}
