body {
 text-align: center;
 border: 1px solid white;
 background-image: url(Noah.jpg); 
 background-repeat: no-repeat;
 background-attachment: fixed;  
 background-size: cover;
 font-family: Helvetica;
 font-size:21px;
}


.img-beach {
 width: 600px;
}

.img-euro {
 width: 450px;
}
